{% extends "base.html" %}
{% load static %}
{% block title %}Sign Up{% endblock %}

{% block content %}
    <div class="container">
    <h2>Register Here</h2>
    <form method="post">
        <div class="imgcontainer">
            <img src="{% static 'images/uder.jpg' %}" class="avatar"/>
        </div>
        <div class="container">
            {% csrf_token %}
            {{ form }}

            <button type="submit">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn"><a href="{% url 'home' %}">Cansel</a></button>
            <span class="psw"><a href="{% url 'login' %}">Already Have an Account</a></span>
        </div>
    </form>
    </div>
{% endblock %}